In [13]:
print ('hellow Edward')

hellow Edward

In [18]:
import pandas as pd
import numpy as np
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"
import seaborn as sns
# Common imports
import numpy as np
import os
%matplotlib inline

In [41]:
data2021 = pd.read_excel('C:\\Users\\secr_de\\analizz\\analizz\\клиенты 21года.xlsx')
data2022 = pd.read_excel('C:\\Users\\secr_de\\analizz\\analizz\\клиенты 22года.xlsx')

In [42]:
data2122 = pd.merge(data2021,data2022, how='outer', on='клиент')

In [43]:
data2122.head(10)

                                              клиент  Выручка21   Выручка22
0                Ника-Мед ООО г.Комсомольск-на-Амуре       855    2 544 813
1                        ДентМастер ООО г.Биробиджан  935 679,4     657 519
2             Авторская стоматология ООО г.Хабаровск    716 589  181 349,01
3                     Дентал-Сервис ООО г.Биробиджан    712 288     624 043
4                Тари-КОМ ООО г.Комсомольск-на-Амуре  685 871,3     620 380
5  Лобанов Евгений Александрович ИП г.Комсомольск...    634 000     129 658
6  СК Стоматологический центр Стом. клиника "Зелё...    601 150     522 187
7                          Стомадент ООО г.Хабаровск    572 277     337 257
8                           Здоровье ООО г.Свободный    551 035     277 737
9          МАХАОН ООО Еврейская область п.Николаевка    539 421      93 353

In [44]:
data2122.to_excel('miks.xlsx')

In [46]:
data2021['Выручка21'] = pd.to_numeric(data2021['Выручка21'],errors='coerce')
data2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   клиент     244 non-null    object
 1   Выручка21  1 non-null      float64
dtypes: float64(1), object(1)
memory usage: 3.9+ KB

In [48]:
data2022['Выручка22'] = pd.to_numeric(data2022['Выручка22'],errors='coerce')
data2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   клиент     244 non-null    object
 1   Выручка22  0 non-null      float64
dtypes: float64(1), object(1)
memory usage: 3.9+ KB