In [1]:
print ('hellow Edward')

hellow Edward

In [2]:
import pandas as pd
import numpy as np
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

In [8]:
data2021 = pd.read_excel('//Users//eduard//analizz//клиенты 21года.xlsx')
data2022 = pd.read_excel('//Users//eduard//analizz//клиенты 22года.xlsx')

In [9]:
data2021.head()

                                   клиент    Выручка
0     Ника-Мед ООО г.Комсомольск-на-Амуре  1855434.0
1             ДентМастер ООО г.Биробиджан   935679.4
2  Авторская стоматология ООО г.Хабаровск   716589.0
3          Дентал-Сервис ООО г.Биробиджан   712288.0
4     Тари-КОМ ООО г.Комсомольск-на-Амуре   685871.3

In [10]:
data2022.head()

                                      клиент    Выручка
0  Мед ИНТЕЛЛЕКТ (Гармония), ООО г.Хабаровск  1285915.0
1             СТАТУС-ДЕНТ ООО г.Благовещенск  1054131.0
2              СК Доктор Ким ООО г.Хабаровск  1035386.0
3  Дента Премиум ООО г. Комсомольск-на-Амуре   716335.0
4               АФИ-ГРУПП ООО г.Благовещенск   641394.0

In [11]:
data2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   клиент   569 non-null    object
 1   Выручка  377 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.0+ KB

In [16]:
data2021.isnull().sum()

клиент       0
Выручка    192
dtype: int64

In [17]:
data2021.dropna()

                                                клиент    Выручка
0                  Ника-Мед ООО г.Комсомольск-на-Амуре  1855434.0
1                          ДентМастер ООО г.Биробиджан   935679.4
2               Авторская стоматология ООО г.Хабаровск   716589.0
3                       Дентал-Сервис ООО г.Биробиджан   712288.0
4                  Тари-КОМ ООО г.Комсомольск-на-Амуре   685871.3
..                                                 ...        ...
542    Амур Дент ООО г.Хабаровск, КОНКУРЕНТ, торгующая     9766.0
549            Вышар Ольга Николаевна ИП г. Биробиджан    34350.0
556  АЙ КЬЮ СТОМ (лазер-дент), ООО г.Хабаровск Конк...    11200.0
557  Медтехника ТД АО г. Хабаровск, Конкурент,торгу...     7750.0
558                           Фортемед ООО г.Хабаровск      500.0

[377 rows x 2 columns]

In [12]:
data2022.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 551 entries, 0 to 550
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   клиент   551 non-null    object
 1   Выручка  372 non-null    float64
dtypes: float64(1), object(1)
memory usage: 8.7+ KB

In [18]:
data2022.dropna()

                                                клиент    Выручка
0            Мед ИНТЕЛЛЕКТ (Гармония), ООО г.Хабаровск  1285915.0
1                       СТАТУС-ДЕНТ ООО г.Благовещенск  1054131.0
2                        СК Доктор Ким ООО г.Хабаровск  1035386.0
3            Дента Премиум ООО г. Комсомольск-на-Амуре   716335.0
4                         АФИ-ГРУПП ООО г.Благовещенск   641394.0
..                                                 ...        ...
534                 Птица Юлия Петровна ИП г.Хабаровск    48304.0
535  Ведищева Наталья Витальевна, г. Облучье, бахил...    30905.0
536                         ГРАНДСТРОЙ ООО г.Хабаровск     9633.0
537              Воронцов Виталий Анатольевич, закрыта     3780.0
545         ДАН, ООО г. Комсомольск-на-Амуре КОНКУРЕНТ    15304.0

[372 rows x 2 columns]

In [19]:
data2122 = pd.merge(data2021,data2022, how='outer', on='клиент')

In [20]:
data2122.head(10)

                                              клиент  Выручка_x   Выручка_y
0                Ника-Мед ООО г.Комсомольск-на-Амуре  1855434.0  2525459.00
1                        ДентМастер ООО г.Биробиджан   935679.4   650044.00
2             Авторская стоматология ООО г.Хабаровск   716589.0   181349.01
3                     Дентал-Сервис ООО г.Биробиджан   712288.0   618463.00
4                Тари-КОМ ООО г.Комсомольск-на-Амуре   685871.3   620380.00
5  Лобанов Евгений Александрович ИП г.Комсомольск...   634000.0   129658.00
6  СК Стоматологический центр Стом. клиника "Зелё...   601150.0   522187.00
7                          Стомадент ООО г.Хабаровск   572277.0   335712.00
8                           Здоровье ООО г.Свободный   551035.0   277737.00
9         МАХАОН ООО  Еврейская область п.Николаевка   539421.0    93353.00

In [21]:
data2122.to_excel('miks.xlsx')

In [22]:
data2122.describe()

          Выручка_x     Выручка_y
count  3.930000e+02  3.880000e+02
mean   1.625064e+05  1.960739e+05
std    2.455084e+05  2.730469e+05
min    1.000000e+02  2.350000e+02
25%    1.814300e+04  3.237025e+04
50%    6.453300e+04  1.004440e+05
75%    2.213340e+05  2.408615e+05
max    2.265063e+06  2.525459e+06

In [23]:
data2122.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 601 entries, 0 to 600
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   клиент     601 non-null    object
 1   Выручка_x  393 non-null    float64
 2   Выручка_y  388 non-null    float64
dtypes: float64(2), object(1)
memory usage: 18.8+ KB